In [151]:
import pandas as pd

In [152]:
df = pd.read_excel(r"C:\Users\Admin\Videos\ASM đông\CODE ASM2.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,123-456-7890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,234-567-8901,"456 Ma May,Hoan Kiem/",Banking,11,1100000,550000
2,10003,Clint,Mastin,345-678-9012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,154-525-5672,"891 Quang Trung,Yen Nguu/",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,123-542-6546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,304__762-2467,"_789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,.Wang,234-653-1435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,.Martin,N/a,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,135-632-4141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,/Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,512-432-4145,"912 Vo Chi Tung,Hang Gai/",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,156/145-9852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,672-618-1934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson_,304-762-2467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,/Weasley,123-5455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,652-616-1934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,706-695-0392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,/Braton,N/a,N/a,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,876-675-3469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,125-670-8469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [153]:
df["Last_Name"].str.lstrip()
df["Last_Name"] = df["Last_Name"].str.lstrip("...") 
df["Last_Name"] = df["Last_Name"].str.lstrip("/")  
df["Last_Name"] = df["Last_Name"].str.rstrip("_") 
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,123-456-7890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,234-567-8901,"456 Ma May,Hoan Kiem/",Banking,11,1100000,550000
2,10003,Clint,Mastin,345-678-9012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,154-525-5672,"891 Quang Trung,Yen Nguu/",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,123-542-6546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,304__762-2467,"_789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,Wang,234-653-1435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,Martin,N/a,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,135-632-4141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,512-432-4145,"912 Vo Chi Tung,Hang Gai/",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,156/145-9852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,672-618-1934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson,304-762-2467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,Weasley,123-5455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,652-616-1934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,706-695-0392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,Braton,N/a,N/a,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,876-675-3469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,125-670-8469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [160]:
df["First_Name"] = df["First_Name"].str.lstrip("...") 
df["First_Name"] = df["First_Name"].str.lstrip("/")  
df["First_Name"] = df["First_Name"].str.rstrip("_")
df["First_Name"] = df["First_Name"].str.rstrip("__")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,1234567890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,2345678901,"456 Ma May,Hoan Kiem",Banking,11,1100000,550000
2,10003,Clint,Mastin,3456789012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,1545255672,"891 Quang Trung,Yen Nguu",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,1235426546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,3047622467,"789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,Wang,2346531435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,Martin,Na,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,1356324141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,5124324145,"912 Vo Chi Tung,Hang Gai",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,1561459852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,6726181934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson,3047622467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,Weasley,1235455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,6526161934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,7066950392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,Braton,Na,Na,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,8766753469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,1256708469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [155]:
df["Phone_Number"] = df["Phone_Number"].str.replace(r'[^a-zA-Z0-9]', '', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,1234567890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,2345678901,"456 Ma May,Hoan Kiem/",Banking,11,1100000,550000
2,10003,Clint,Mastin,3456789012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,1545255672,"891 Quang Trung,Yen Nguu/",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,1235426546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,3047622467,"_789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,Wang,2346531435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,Martin,Na,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,1356324141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,5124324145,"912 Vo Chi Tung,Hang Gai/",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,1561459852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,6726181934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson,3047622467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,Weasley,1235455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,6526161934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,7066950392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,Braton,Na,N/a,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,8766753469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,1256708469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [156]:
df['Products_Quantity'] = df['Products_Quantity'].astype(str).str.replace(r'[^0-9]', '', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,1234567890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,2345678901,"456 Ma May,Hoan Kiem/",Banking,11,1100000,550000
2,10003,Clint,Mastin,3456789012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,1545255672,"891 Quang Trung,Yen Nguu/",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,1235426546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,3047622467,"_789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,Wang,2346531435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,Martin,Na,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,1356324141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,5124324145,"912 Vo Chi Tung,Hang Gai/",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,1561459852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,6726181934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson,3047622467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,Weasley,1235455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,6526161934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,7066950392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,Braton,Na,N/a,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,8766753469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,1256708469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [158]:
df['Address'] = df['Address'].str.replace(r'[^a-zA-Z0-9\s,]', '', regex=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,10001,Brown,Imcutie,1234567890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,10002,Haley,Quin,2345678901,"456 Ma May,Hoan Kiem",Banking,11,1100000,550000
2,10003,Clint,Mastin,3456789012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,10004,Skyling,Sechert,1545255672,"891 Quang Trung,Yen Nguu",Tiền mặt,23,2300000,1250000
4,10005,Barron,Smith,1235426546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,10006,Donney,Wilson,3047622467,"789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,10007,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,10008,Ballin,Wang,2346531435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,10009,Aston,Martin,Na,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,10010,Tommy,Wayne,1356324141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,10011,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,10012,Hammer,Penny,5124324145,"912 Vo Chi Tung,Hang Gai",Tiền mặt,12,1200000,600000
12,10013,Mikey,Drason,1561459852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,10014,Jackson,Crelley,6726181934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,10015,Toby,Flenderson,3047622467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,10016,Ron,Weasley,1235455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,10017,Michael,Scott,6526161934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,10018,Clark,Kent,7066950392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,10019,Creed,Braton,Na,Na,Cả hai,18,1800000,900000
19,10020,Anakin,Skywalker,8766753469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,10021,Alan,Blentin,1256708469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000

In [159]:
df.drop(columns = "CustomerID")

,First_Name,Last_Name,Phone_Number,Address,Payment_Method,Products_Quantity,Total_Value_of_Products,Total Profit
0,Brown,Imcutie,1234567890,"123 Hoan Kiem,Ha Noi",Tiền mặt,12,1200000,600000
1,Haley,Quin,2345678901,"456 Ma May,Hoan Kiem",Banking,11,1100000,550000
2,Clint,Mastin,3456789012,"234 Kim Nguu,Hoang Mai",Banking,2,200000,100000
3,Skyling,Sechert,1545255672,"891 Quang Trung,Yen Nguu",Tiền mặt,23,2300000,1250000
4,Barron,Smith,1235426546,"234 Ly Chinh Thang,Minh Hoa",Tiền mặt,14,1400000,700000
5,Donney,Wilson,3047622467,"789 Mang Cau,Linh Bien",Tiền mặt,17,1700000,850000
6,Jeffie,Wing,NaN,"123 Linh Duong,Co Nguu",Tiền mặt,6,600000,300000
7,Ballin,Wang,2346531435,"912 Minh Duong,Dong Hue",Banking,11,1100000,550000
8,Aston,Martin,Na,"789 Hang Delin,Hoang Cau",Tiền mặt,5,500000,250000
9,Tommy,Wayne,1356324141,"678 Linh Dam,Hoang Mai",Tiền mặt,24,2400000,1200000
10,Samwise,Gamgee,NaN,"678 Quang Trung,Thanh Hoa",Cả hai,56,5600000,2800000
11,Hammer,Penny,5124324145,"912 Vo Chi Tung,Hang Gai",Tiền mặt,12,1200000,600000
12,Mikey,Drason,1561459852,"567 Kep,Lang Giang",Banking,2,200000,100000
13,Jackson,Crelley,6726181934,"123 Nguyen Quyen,Minh Quyen",Tiền mặt,3,300000,150000
14,Toby,Flenderson,3047622467,"234 Quang Toan,Hong Mai",Cả hai,15,1500000,750000
15,Ron,Weasley,1235455421,"567 Hoang Quoc Viet,Linh Dong",Cả hai,12,1200000,600000
16,Michael,Scott,6526161934,"234 Golden State,Dong Trieu",Banking,6,600000,300000
17,Clark,Kent,7066950392,"345 Lam Anh,Hoang Dong",Tiền mặt,26,2600000,1300000
18,Creed,Braton,Na,Na,Cả hai,18,1800000,900000
19,Anakin,Skywalker,8766753469,"789 Nguyen Chi Thanh,Quang Toa",Tiền mặt,11,1100000,550000
20,Alan,Blentin,1256708469,"910 Nguyen Cong Tru,Lam Quyen",Tiền mặt,17,1700000,850000